.white-filter {
  filter: brightness(0) invert(1);
  color: white;
}

.black-filter {
  filter: brightness(0);
  color: black;
}

.extra-indicator {
  position: absolute;
  right: var(--padding-radius-xs-sm);
  top: var(--padding-radius-xs-sm);
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0;
  min-width: 1.25rem;
  height: 1.25rem;
  border-radius: var(--border-radius-xs);
  outline: 1px solid black;
}

.numerical-indicator {
  font-size: 0.8rem;
  padding: var(--padding-radius-xs-sm);
  height: 1rem;
  font-weight: bold;
  color: black;
}

.image-indicator-with-text {
  padding: 0px var(--padding-radius-sm-lg);
}

@media (prefers-color-scheme: dark) {
  .image-badge {
    filter: brightness(0.8);
  }
}
