.white-filter {
  filter: brightness(0) invert(1);
  color: white;
}

.black-filter {
  filter: brightness(0);
  color: black;
}

.extra-indicator {
  position: absolute;
  height: 40%;
  right: 0;
  top: 0;
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0;
  min-width: 18px;
  height: 18px;
  box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 0px 1px;
}

.numerical-indicator {
  font-weight: bold;
  font-size: 12px;
  padding: 2px;
  height: 14px;
  min-width: 14px;
}

.image-indicator-with-text {
  padding: 0px 4px;
}

@media (prefers-color-scheme: dark) {
  .image-badge {
    filter: brightness(0.8);
  }
}
