.arrow-button {
  border: none;
  transition: color 0.25s;
  padding: 0;
  width: 36px;
  height: 21px;
}
.arrow-button div svg {
  width: 18px;
  height: 18px;
}

.arrow-button:hover {
  opacity: 0.8;
}

.details-button {
  --svg-size: 26px;
  padding: 2px;
  border-radius: 16px !important;
  position: absolute;
  right: 12px;
  top: 12px;
  min-height: 0px;
  margin-bottom: 3px;
  & svg {
    height: var(--svg-size);
    width: var(--svg-size);
  }
}

.details-button-img-background {
  background-color: #0007;
}

.details-button:hover {
  background-color: var(--hover-bg);
  /* border: 1px solid white; */
}

.save-card:hover::after {
  content: '';
  width: inherit;
  height: inherit;
  background-color: #fff3;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: inherit;
  transition: background-color 0.2s;
}

.save-card::after {
  content: '';
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: inherit;
  transition: background-color 0.2s;
  pointer-events: none;
}

.save-grid-error-button {
  background-color: rgb(213, 18, 18);
  color: white;
  height: 26px;
  width: 56px;
  padding: 0;
  display: grid;
  align-items: center;
  justify-content: center;
}

.save-grid-open-button {
  height: 26px;
  width: 56px;
}
