.arrow-button {
  color: inherit;
  background-color: transparent;
  border: none;
  transition: color 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-button:hover {
  opacity: 0.8;
}

.save-header {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 8px;
}

.save-close-button {
  position: absolute;
  left: 8px;
  padding: 0px;
  display: grid;
  aspect-ratio: 1;
  align-items: center;
}

.save-menu-button {
  position: absolute;
  right: 8px;
  padding: 0px;
  display: grid;
  aspect-ratio: 1;
  align-items: center;
}

.box-card {
  padding: 5px;
}

.box-navigation {
  margin-bottom: 5px;
}

.box-name {
  display: grid;
  align-items: center;
  text-align: center;
}

.details-button {
  aspect-ratio: 1;
  border-radius: 6px;
  height: 30px;
  background-color: #fff3;
  transition: 0.15s;
  position: absolute;
  right: 0px;
}

.details-button:hover {
  background-color: #fff6;
}

.save-card:hover::after {
  content: '';
  width: inherit;
  height: inherit;
  background-color: #fff3;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: inherit;
  transition: background-color 0.2s;
}

.save-card::after {
  content: '';
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: inherit;
  transition: background-color 0.2s;
  pointer-events: none;
}
