.arrow-button {
  border: none;
  transition: color 0.25s;
  padding: 0;
  width: 36px;
  height: 21px;
}
.arrow-button div svg {
  width: 18px;
  height: 18px;
}

.arrow-button:hover {
  opacity: 0.8;
}

.save-header {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 1px;
  /* margin-bottom: 4px; */
}
.save-header svg {
  height: 18px;
  width: 18px;
}

.save-header-game {
  clip-path: polygon(0% 0%, 0% 100%, calc(100% - 12px) 100%, calc(100% - 0px) 0%, 100% 0%);
}

.save-close-button {
  padding: 4px;
  display: grid;
  aspect-ratio: 1;
  align-items: center;
  height: fit-content;
}

.save-menu-button {
  position: absolute;
  right: 4px;
  padding: 4px;
  display: grid;
  aspect-ratio: 1;
  align-items: center;
  height: fit-content;
}

.box-card {
  padding: 6px 2px 2px;
  display: flex;
  flex-direction: column;
}

.box-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 2px 0px;
}

.box-name {
  display: grid;
  align-items: center;
  text-align: center;
  flex: 8;
  min-width: fit-content;
  margin: 0px 6px;
}

.details-button {
  --svg-size: 26px;
  padding: 2px;
  border-radius: 16px !important;
  position: absolute;
  right: 12px;
  top: 12px;
  min-height: 0px;
  margin-bottom: 3px;
  & svg {
    height: var(--svg-size);
    width: var(--svg-size);
  }
}

.details-button-img-background {
  background-color: #0007;
}

.details-button:hover {
  background-color: var(--hover-bg);
  /* border: 1px solid white; */
}

.save-card:hover::after {
  content: '';
  width: inherit;
  height: inherit;
  background-color: #fff3;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: inherit;
  transition: background-color 0.2s;
}

.save-card::after {
  content: '';
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: inherit;
  transition: background-color 0.2s;
  pointer-events: none;
}

.save-grid-error-button {
  background-color: rgb(213, 18, 18);
  color: white;
  height: 26px;
  width: 56px;
  padding: 0;
  display: grid;
  align-items: center;
  justify-content: center;
}

.save-grid-open-button {
  height: 26px;
  width: 56px;
}
