.arrow-button {
  color: inherit;
  background-color: transparent;
  border: none;
  transition: color 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow-button div svg {
  width: 20px;
  height: 20px;
}

.arrow-button:hover {
  opacity: 0.8;
}

.save-header {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 8px;
}

.save-close-button {
  position: absolute;
  left: 8px;
  padding: 0px;
  display: grid;
  aspect-ratio: 1;
  align-items: center;
}

.save-menu-button {
  position: absolute;
  right: 8px;
  padding: 0px;
  display: grid;
  aspect-ratio: 1;
  align-items: center;
}

.box-card {
  padding: 5px;
}

.box-navigation {
  padding-bottom: 5px;
}

.box-name {
  display: grid;
  align-items: center;
  text-align: center;
}

.details-button {
  --svg-size: 26px;
  border-radius: 15px !important;
  height: var(--svg-size);
  width: var(--svg-size);
  background-color: #fff0;
  position: absolute;
  right: 0px;
  min-height: 0px !important;
  margin-bottom: 3px;
  & svg {
    height: var(--svg-size);
    width: var(--svg-size);
  }
}

.details-button:hover {
  background-color: #6663;
  /* border: 1px solid white; */
}

.save-card:hover::after {
  content: '';
  width: inherit;
  height: inherit;
  background-color: #fff3;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: inherit;
  transition: background-color 0.2s;
}

.save-card::after {
  content: '';
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: inherit;
  transition: background-color 0.2s;
  pointer-events: none;
}

.save-grid-error-button {
  background-color: rgb(213, 18, 18);
  color: white;
  height: 26px;
  width: 56px;
  padding: 0;
  display: grid;
  align-items: center;
  justify-content: center;
}

.save-grid-open-button {
  height: 26px;
  width: 56px;
}
