.position-display-container {
  border: 1px solid var(--color-border-light);
  margin: auto;
  border-radius: var(--border-radius-sm);
  display: flex;
  flex-direction: row;
  background-color: rgb(68, 102, 102);
  padding: var(--padding-radius-xs-sm);
  gap: 3px;
  width: 180px;
}

.position-display-col {
  display: flex;
  flex: 1;
  gap: 3px;
  flex-direction: column;
}

.position-display-cell {
  min-width: 0.75rem;
  aspect-ratio: 1;
  border-radius: var(--border-radius-xs);
  background-color: #fff;
}

.position-display-cell-empty {
  background-color: #fff3;
}

.position-display-cell-active {
  background-color: #f55;
}

.box-card {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-lg);
  background-color: var(--color-panel);

  .rt-Separator {
    margin-bottom: var(--padding-radius-sm-lg);
  }
}

.box-grid {
  aspect-ratio: 6 / 5;
  box-sizing: border-box;
  width: 100%;
  padding: var(--padding-radius-sm-lg);
  gap: 0.2rem;
}

.home-box-grid {
  aspect-ratio: 6 / 5;
  width: 100%;
}

.box-card-disabled {
  --card-background-color: #666;
}

.box-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  position: relative;
}

.box-navigation svg {
  height: 1rem;
  width: 1rem;
}

.box-name {
  display: grid;
  align-items: center;
  text-align: center;
  flex: 1;
  min-width: 50%;
  width: fit-content;
  max-width: 80%;
  margin: 0px var(--padding-radius-sm-lg);
}

.box-name input {
  text-indent: 0px;
}

.home-box-header {
  padding: var(--padding-radius-sm-lg);
  width: 100%;
  height: fit-content;
  max-height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: var(--padding-radius-sm-lg);
}

.horiz-collapse {
  visibility: collapse;
  width: 0px !important;
  height: 0px !important;
}

.save-header-container {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  width: 100%;
  margin: 0;
  height: 2rem;
}

.save-header-container svg {
  height: 1rem;
  width: 1rem;
}

.save-header-inner {
  flex: 1;
  display: flex;
  align-items: center;
  gap: var(--padding-radius-xs-sm);
  height: 100%;
}

.save-header-game {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  gap: var(--padding-radius-sm-lg);
  padding: 0 1rem 0 var(--padding-radius-sm-lg);
  align-items: center;
  border-top-left-radius: var(--border-radius-lg);
  height: 100%;
}

.save-menu-buttons-right {
  height: 1.5rem;
  box-sizing: border-box;
  position: absolute;
  right: var(--padding-radius-sm-lg);
  top: var(--padding-radius-sm-lg);

  button {
    border-radius: var(--border-radius-sm);
  }
}

.save-close-button {
  display: grid;
  aspect-ratio: 1;
  align-items: center;
  height: fit-content;
  background-color: var(--color-destructive);
  border: 0.5px solid var(--color-gray-800);
  border-radius: var(--border-radius-sm) !important;
}

.save-details-modal {
  display: flex;
  flex-direction: column;
  min-width: 800px;
  width: 80%;
  max-height: fit-content;
  height: 95%;
  overflow: hidden;
  gap: 1px;
  padding: 0;
}

.home-box-delete-button {
  position: absolute !important;
  z-index: 1;
  top: 0;
  right: 0;
}

.box-overview-container {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
  height: 7.5rem;
}

.box-overview-button {
  align-items: start;
  padding: var(--padding-radius-sm-lg) var(--padding-radius-sm-lg) 0 var(--padding-radius-sm-lg);
  width: 100%;
  min-width: 100%;
  height: 100%;
  border-radius: var(--border-radius-lg) !important;
}

.box-overview-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.box-overview-title {
  display: flex;
  display: -webkit-box;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.box-overview-title-full {
  color: white;
}

.ToggleGroup {
  display: flex;

  & button {
    border-radius: 0;
    padding: 0.2em 0.3em;
  }

  & svg {
    height: 14px;
  }
}

.ToggleGroupItem {
  display: flex;
  font-size: 0.9rem;
  line-height: 1;
  align-items: center;
  justify-content: center;
  user-select: none;
  flex: 1;
  padding: var(--padding-radius-sm-lg);
  height: var(--height-mini-button);
  border: none;
}

.ToggleGroup .ToggleGroupItem:first-child {
  margin-left: 0;
  border-top-left-radius: var(--border-radius-sm);
  border-bottom-left-radius: var(--border-radius-sm);
}

.ToggleGroup .ToggleGroupItem:last-child {
  border-top-right-radius: var(--border-radius-sm);
  border-bottom-right-radius: var(--border-radius-sm);
}

.ToggleGroupItem:hover:not(:disabled) {
  background-color: var(--accent-a5);
}

.ToggleGroupItem[data-state='on'] {
  background-color: var(--focus-8);
}

.ToggleGroupItem:focus {
  position: relative;
}

.box-icon-mon-container {
  border-radius: var(--border-radius-sm);
  display: flex;
  flex-direction: row;
  background-color: rgb(68, 102, 102);
  padding: var(--padding-radius-sm-lg);
  gap: 1px;
}

.box-icon-mon-col {
  display: flex;
  flex: 1;
  gap: 1px;
  flex-direction: column;
}

.box-icon-mon-indicator {
  min-width: 3px;
  aspect-ratio: 1;
  border-radius: 1px;
  background-color: #fff;
}

.box-icon-mon-empty {
  background-color: #fff3;
}

.box-slot-missing-id {
  aspect-ratio: 1;
  margin: auto;
  font-weight: bold;
  font-size: 1.2rem;
}
