.pokemon-icon-container {
  position: relative;
  transform: translate(0, 0);
}

.pokemon-icon-image {
  background-size: 3600%;
  background-repeat: no-repeat;
  image-rendering: crisp-edges;
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
}

.centered-cell {
  display: grid;
  align-items: center;
  justify-content: center;
}
