.game-container {
  position: relative;
  width: 100px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-image {
  width: 100px;
  height: 60px;
  object-fit: contain;
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0.6;
}

.center-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ribbons-container {
  display: flex;
  padding: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}

.ribbon {
  width: 50px;
  height: 50px;
  border-width: 2px;
  image-rendering: pixelated;
}

.no-ribbons-message {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  text-align: center;
}

.affixed-ribbon {
  width: 50px;
  height: 50px;
  image-rendering: pixelated;
  background-color: #fff6;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: white;
}

.stats-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  position: relative;
  gap: 8px;
  padding-bottom: 8px;
  box-sizing: border-box;
}

.stats-selectors {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  flex-direction: column;
}

.chart-container {
  height: calc(100% - 40px);
}

.sheen-stars {
  padding: 10px;
}

.summary-column {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary-image {
  max-height: 100px;
  transform: scale(2);
  image-rendering: pixelated;
  object-fit: contain;
}

.nickname-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
}
