:root {
  --font-sans: var(--primitive-font-sans);
  --font-mono: var(--primitive-font-mono);
  --font-weight-normal: var(--primitive-font-weight-normal);
  --font-weight-medium: var(--primitive-font-weight-medium);
  --base-font-size: 14px;

  font-size: var(--base-font-size);
  font-family: var(--font-sans);
  font-weight: var(--font-weight-normal);
  color-scheme: light dark;
  background-color: var(--color-surface);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root {
  --border-radius-xs: 0.15rem;
  --border-radius-sm: 0.25rem;
  --border-radius-lg: 0.6rem;

  --padding-radius-xs-sm: 0.15rem;
  --padding-radius-sm-lg: 0.45rem;

  --height-mini-button: 1.5rem;

  --font-size-standard: 1rem;
  --font-size-text: 0.9rem;
}

:root {
  /* OpenHome's primary teal colors */
  --primitive-teal-100: #dfd;
  --primitive-teal-200: rgb(179, 225, 206);
  --primitive-teal-300: rgb(160, 218, 194);
  --primitive-teal-400: rgb(125, 206, 171);
  --primitive-teal-450: rgb(83, 180, 165);
  --primitive-teal-500: rgb(125, 154, 156);
  --primitive-teal-600: rgb(108, 141, 141);
  --primitive-teal-700: rgb(74, 108, 112);
  --primitive-teal-800: rgb(1, 83, 84);

  --primitive-navy-800: rgba(54, 69, 78, 1);
  --primitive-navy-900: #081721;
  --primitive-navy-950: #5d707f;

  --primitive-sidebar-light: var(--color-panel);
  --primitive-sidebar-hover-light: rgb(140, 181, 166);
  --primitive-sidebar-selected-light: rgb(116, 155, 146);
  --primitive-sidebar-dark: rgb(68, 102, 102);
  --primitive-sidebar-hover-dark: rgb(103, 132, 134);
  --primitive-sidebar-selected-dark: var(--primitive-teal-500);

  --primitive-blue-light: oklch(45% 50% 264deg);
  --primitive-blue-dark: oklch(69% 50% 264deg);
  --primitive-red-light: oklch(65.953% 0.21938 25.564);
  --primitive-red-dark: oklch(80% 55% 31deg);

  --color-gray-50: oklch(98% 0.25% 264deg);
  --color-gray-100: oklch(95% 0.5% 264deg / 90%);
  --color-gray-200: oklch(93% 0.875% 264deg / 85%);
  --color-gray-300: oklch(92% 1.125% 264deg / 80%);
  --color-gray-400: oklch(82% 1% 264deg / 80%);
  --color-gray-500: oklch(12% 7.5% 264deg / 50%);
  --color-gray-600: oklch(12% 7% 264deg / 67%);
  --color-gray-700: oklch(12% 6% 264deg / 77%);
  --color-gray-800: oklch(12% 5% 264deg / 85%);
  --color-gray-900: oklch(12% 5% 264deg / 90%);
  --color-gray-950: oklch(12% 5% 264deg / 95%);

  --color-border-light: var(--color-gray-400);
  --color-translucent-light: #fff8;
  --color-translucent-dark: #0008;
  --color-destructive: #aa0000;

  --soft-border: 0.5px solid var(--color-gray-800);

  @media (prefers-color-scheme: dark) {
    --color-blue: oklch(69% 50% 264deg);
    --color-red: oklch(80% 55% 31deg);
    --color-gray-50: oklch(17% 0.25% 264deg);
    --color-gray-100: oklch(28% 0.75% 264deg / 65%);
    --color-gray-200: oklch(29% 0.75% 264deg / 80%);
    --color-gray-300: oklch(35% 0.75% 264deg / 80%);
    --color-gray-400: oklch(47% 0.875% 264deg / 80%);
    --color-gray-500: oklch(64% 1% 264deg / 80%);
    --color-gray-600: oklch(82% 1% 264deg / 80%);
    --color-gray-700: oklch(92% 1.125% 264deg / 80%);
    --color-gray-800: oklch(93% 0.875% 264deg / 85%);
    --color-gray-900: oklch(95% 0.5% 264deg / 90%);
    --color-gray-950: oklch(94% 0.375% 264deg / 95%);
  }
}

/* light mode (default) */
:root {
  --color-panel: var(--primitive-teal-100);
  --color-surface: var(--primitive-navy-950);
  --color-accent: var(--primitive-blue-light);
  --color-danger: var(--primitive-red-light);
  --color-panel: var(--primitive-teal-300);

  --color-sidebar: var(--primitive-sidebar-light);
  --color-sidebar-hover: var(--primitive-sidebar-hover-light);
  --color-sidebar-selected: var(--primitive-sidebar-selected-light);

  --color-gray-subtle: var(--primitive-gray-100);
  --color-gray-border: var(--primitive-gray-300);
  --color-gray-text: var(--primitive-gray-700);

  --attribute-row-label: var(--primitive-teal-200);
  --attribute-row-content: var(--primitive-teal-300);

  --byte-hover: var(--primitive-teal-100);
  --color-translucent: var(--color-translucent-light);

  --gradient-angle: 310deg;

  --background-gradient: linear-gradient(
    var(--gradient-angle),
    var(--primitive-teal-450) 0%,
    var(--primitive-teal-400) 85%
  );

  .radix-themes {
    --color-panel: var(--primitive-teal-100);
    --color-bar: var(--color-panel);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-panel: var(--primitive-navy-900);
    --color-accent: var(--primitive-blue-dark);
    --color-danger: var(--primitive-red-dark);

    --color-gray-subtle: var(--primitive-gray-100-dark);
    --color-gray-border: var(--primitive-gray-300-dark);
    --color-gray-text: var(--primitive-gray-700-dark);

    --attribute-row-label: var(--primitive-teal-600);
    --attribute-row-content: var(--primitive-teal-700);

    --byte-hover: var(--primitive-teal-600);
    --color-translucent: var(--color-translucent-dark);

    --color-sidebar: var(--primitive-sidebar-dark);
    --color-sidebar-hover: var(--primitive-sidebar-hover-dark);
    --color-sidebar-selected: var(--primitive-sidebar-selected-dark);

    --autocomplete-scrollbar: #fff;
    --autocomplete-background-color: #333;

    --gradient-angle: 355deg;

    --background-gradient: linear-gradient(
      var(--gradient-angle),
      var(--primitive-navy-800) 0%,
      var(--primitive-teal-800) 85%
    );

    .radix-themes {
      --color-panel: var(--primitive-navy-900);
      --color-bar: var(--color-panel);
    }
  }
}

p {
  margin: 0;
}

img {
  user-select: none;
  -webkit-user-select: none;
}

@media (prefers-color-scheme: light) {
  body {
    --autocomplete-scrollbar: rgb(80, 158, 146);
    --autocomplete-background-color: #fff;
  }
}

div {
  user-select: none;
  -webkit-user-select: none !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html,
body,
#root {
  height: 100%;
  user-select: none;
  -webkit-user-select: none !important;
  -webkit-user-drag: none !important;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: white;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

select {
  -webkit-appearance: none;
  appearance: none;
  background: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill="white" d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>')
    100% 50% no-repeat transparent;
}

button,
select {
  border-radius: var(--border-radius-sm);
  border: 2px solid transparent;
  font-size: small;
  font-weight: 500;
  font-family: inherit;
}

button:not(:disabled) {
  cursor: pointer;
}

button {
  padding: 0.3em 0.3em;
}

select:focus,
select:focus-visible {
  outline: none;
}

input,
fieldset {
  border-radius: var(--border-radius-sm);
  border: 1px solid transparent;
  font-size: small;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
}

label {
  display: flex;
  flex-direction: column;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll-no-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-no-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.tab-sidebar {
  box-shadow:
    rgba(0, 0, 0, 0.3) 0px 3px 12px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px !important;
  z-index: 1;
}

.datagrid {
  border: none;
}

.datagrid-error-row {
  background-color: #f004;
}

.rt-TabsContent {
  height: 100%;
  overflow-y: auto;
}

.radix-themes {
  --cursor-button: pointer;
  font-size: inherit;
  .rt-BaseMenuSeparator {
    margin: 0px 0px;
  }
  --cursor-menu-item: pointer;
  --default-font-size: 0.9em;
  .rt-BaseTabList {
    background-color: var(--color-panel);
  }
  .rt-BaseDialogContent {
    background: var(--background-gradient);
  }
  .rt-RadioGroupItem {
    display: flex;
    flex-direction: row;
  }
  .rt-Card {
    --base-card-border-radius: var(--border-radius-lg);
  }
  .rt-Separator:where(.rt-r-orientation-horizontal) {
    width: 100%;
  }
  .rt-Button {
    border-radius: var(--border-radius-sm);
  }
}

.rt-BaseMenuContent,
.rt-BaseMenuViewport {
  min-width: 13.75rem;
  background-color: var(--color-panel-solid);
  border-radius: var(--border-radius-lg);
  gap: 0.2rem;
}

.rt-BaseMenuViewport {
  padding: var(--padding-radius-sm-lg);
}

.rt-ContextMenuSubContent {
  z-index: 10;
}

.rt-BaseMenuItem {
  font-size: 0.8rem;
  line-height: 1;
  border-radius: var(--border-radius-sm);
  display: flex;
  align-items: center;
  height: 1.5rem;
  position: relative;
  user-select: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
}

.rt-BaseDialogOverlay {
  &:where([data-state='closed']) {
    animation: none !important;
  }
  &:where([data-state='open'])::before {
    animation: rt-fade-in 200ms cubic-bezier(0.16, 1, 0.3, 1) !important;
  }
  &:where([data-state='closed'])::before {
    opacity: 0;
    animation: rt-fade-out 200ms cubic-bezier(0.16, 1, 0.3, 1) !important;
  }
}

.rt-BaseDialogContent {
  --dialog-content-padding: 0.75rem;
  &:where([data-state='open']) {
    animation: none !important;
  }
  &:where([data-state='closed']) {
    opacity: 0;
    animation: rt-dialog-content-hide 100ms cubic-bezier(0.16, 1, 0.3, 1) !important;
  }
}

.rt-Badge {
  border-radius: var(--border-radius-sm);
}

.rt-SwitchThumb,
.rt-SwitchRoot::before {
  border-radius: 9999px;
  --switch-height: 1.2rem;
  --switch-width: 2rem;
  --switch-thumb-size: 1.1rem;
}

.diagonal-clip {
  clip-path: polygon(0% 0%, 0% 100%, calc(100% - 12px) 100%, calc(100% - 0px) 0%, 100% 0%);
}

.mini-button {
  padding: var(--padding-radius-xs-sm);
  aspect-ratio: 1;
  height: var(--height-mini-button);
  width: fit-content;
  transition: none;
  border-radius: var(--border-radius-sm);

  svg {
    height: 1rem;
    width: 1rem;
  }
}

.hidden {
  visibility: hidden;
}

.fill-parent {
  width: 100%;
  height: 100%;
}

.grayed-out {
  filter: grayscale(100%);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-centered {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rdg-cell * {
  align-items: center;
}

.pad-x-sm-lg {
  padding-left: var(--padding-radius-sm-lg);
  padding-right: var(--padding-radius-sm-lg);
}
