body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(355deg, rgba(83, 180, 165, 1) 0%, rgba(125, 206, 171, 1) 85%);
  min-height: 100vh;
  --dark-color: #333;
}

a {
  color: inherit;
  transition: background-color 0.15s;
}

.container > p:first-child {
  margin-top: 48px;
}

table {
  border-collapse: collapse;
  font-size: small;
}

th {
  border-bottom: 1px solid #333;
  text-align: left;
  font-size: 16px;
}

tr {
  border-bottom: 1px solid #333;
  height: 36px;
}

tr:last-child {
  border-bottom: none;
}

th:nth-child(2),
th:nth-child(5),
th:nth-child(6),
td:nth-child(2),
td:nth-child(7),
td:nth-child(9) {
  border-left: 1px solid #ccc;
  padding-left: 8px;
}

.openhome-name {
  font-weight: bold;
  font-size: 24px;
}

.larger-font {
  font-size: 20px;
}

.active {
  background-color: #dfd;
  color: var(--dark-color);
}

.container {
  max-width: 900px;
  min-width: 600px;
  width: 80%;
  background-color: #dfd;
  margin: 0px auto;
  min-height: 100vh;
  padding: 4px 64px;
}

.downloads-table {
  width: 90%;
  min-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}

.downloads-table a {
  background-color: rgb(243, 250, 255);
  padding: 4px;
  border-radius: 5px;
  box-shadow:
    rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  transition:
    background-color 0.1s,
    color 0.1s;
}

.downloads-table a:hover {
  background-color: rgb(249, 204, 195);
  /* color: white; */
}

.downloads-table a:before {
  content: url('download.svg');
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  margin-right: 4px;
}

.header {
  background-color: #466;
  box-sizing: border-box;
  color: #fff;
  font-weight: bold;
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  position: sticky;
  top: 0;
}

.header-links {
  padding: 4px 8px;
  margin: 0;
  display: flex;
  align-items: center;
}

.header-links li {
  display: inline-block;
  margin-right: 8px;
}

.header-links a {
  display: inline-block;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 8px;
  text-decoration: none;
}

.header-links a:hover:not(.active):not(.github-button) {
  background-color: #688;
}

.header-title {
  font-size: 32px;
  margin: 0px 4px 0px 0px;
  padding: 4px 8px;
}

.outer-download-container {
  height: 400px;
  background-color: #aedac3;
  padding: 16px 64px;
  display: grid;
  align-items: center;
}

.other-downloads-label {
  margin: 32px 64px 16px;
  font-weight: bold;
  font-size: 24px;
}

.download-label {
  font-weight: bold;
  font-size: 28px;
}

.download-buttons {
  width: 100%;
  display: flex;
  margin: 16px 4px;
}

.download-buttons > a {
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
  background-color: #e45454;
  font-weight: bold;
  font-size: 18px;
  width: 160px;
  text-align: start;
  position: relative;
  color: white;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: background-color 0.15s;
}

.download-buttons > a:hover {
  background-color: #c85252;
}

.download-buttons > svg {
  color: white;
}

.download-buttons > a:not(:first-of-type) {
  margin-left: 8px;
}

.download-buttons > a::after {
  content: url('download-white.svg');
  display: inline-block;
  vertical-align: middle;
  text-align: end;
  width: 20px;
  right: 16px;
  position: absolute;
}

.image-flex {
  display: flex;
  margin-top: 48px;
  align-items: center;
}

.image-flex > :first-child {
  margin-right: 16px;
}

img {
  height: 360px;
  width: auto;
}

.spacer {
  flex: 1;
}

.github-button {
  img {
    height: 24px;
  }
  background-color: #333;
  height: fit-content;
}

.github-button:hover {
  background-color: #444;
}
