.type-icon-container {
  height: 2rem;
  width: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px var(--padding-radius-sm-lg);
}

.attribute-row {
  --diagonal-length: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: calc(var(--font-size-text) + 2 * var(--padding-radius-sm-lg));
}

.attribute-row-label {
  background-color: var(--attribute-row-label);
  clip-path: polygon(
    0% 0%,
    0% 100%,
    calc(100% - var(--diagonal-length)) 100%,
    calc(100% - 0px) 0%,
    100% 0%
  );
  font-size: var(--font-size-text);
  font-weight: 500;
  margin-right: calc(-1 * var(--diagonal-length));
  height: inherit;
  min-width: calc(33% - var(--indent, 0px));
}

.attribute-row-content {
  background-color: var(--attribute-row-content);
  max-width: calc(67%);
  width: calc(67%);
  height: inherit;
  display: flex;
  gap: var(--padding-radius-xs-sm);
  flex-direction: row;
  align-items: center;
  overflow-wrap: break-word;
  overflow: hidden;
  font-size: var(--font-size-text);
  padding-right: calc(8px + var(--diagonal-length));
  padding-left: calc(4px + var(--diagonal-length));
}

div.attribute-row-content {
  user-select: all !important;
  -webkit-user-select: text !important;
}

.expandable-attribute-row {
  transition: max-height 0.2s ease;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

.expandable-attribute-row > summary {
  display: flex;
  flex-direction: row;
}

.expandable-attribute-row-arrow {
  position: absolute;
  right: 8px;
  top: 0;
  height: 100%;
  rotate: 0deg;
  transition: rotate 0.2s;
}

.shiny-icon {
  position: absolute;
  width: 40%;
  height: 40%;
  left: var(--padding-radius-xs-sm);
  bottom: var(--padding-radius-xs-sm);
  z-index: 10;
  pointer-events: none;
}

.item-icon {
  position: absolute;
  width: 50%;
  height: 50%;
  right: 0;
  bottom: 0;
  z-index: 2;
  pointer-events: none;
}
