.settings-checkbox-flex {
  display: inline-flex;
  gap: var(--padding-radius-sm-lg);
  align-items: center;
}

.group-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.settings-group {
  display: flex;
  flex-direction: column;
}

.settings-content-inner {
  display: flex;
  flex-direction: column;
  gap: calc(2 * var(--padding-radius-sm-lg));
}

.single-setting-container {
  display: flex;
  flex-direction: column;
  gap: var(--padding-radius-sm-lg);
  margin-bottom: 1rem;

  .rt-SelectTrigger {
    width: fit-content;
    margin-left: 0.5rem;
  }
}

.setting-description {
  color: var(--gray-11);
  padding-left: 0.5rem;
}
