.logs-page {
  --header-size: 2rem;
  --raised-button-box-shadow:
    rgba(0, 0, 0, 0.17) 0px -1.5rem 1.5rem 0px inset,
    rgba(0, 0, 0, 0.15) 0px -2.25rem 2rem 0px inset, rgba(0, 0, 0, 0.1) 0px -5rem 5rem 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px;
  --top-bar-height: 1.2rem;
  --sidebar-width: 22rem;

  --timestamp-width: 6rem;
  --log-event-width: 8rem;
  --context-button-width: 6rem;

  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  font-size: 1rem;

  display: flex;
  flex-direction: column;
  min-width: 60rem;
}

.logs-container {
  height: 100%;
  overflow-y: auto;
  background-color: var(--color-gray-100);
}

.logs-scroll {
  width: 100%;
  position: relative;
}

.logs-header {
  height: var(--top-bar-height);
  padding: var(--padding-radius-sm-lg);
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--accent-9);
  box-shadow:
    rgba(0, 0, 0, 0.07) 0px 1px 1px,
    rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px,
    rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  color: var(--accent-contrast);
  gap: 1rem;
  z-index: 100;
  position: sticky;
  top: 0;

  input {
    width: 22rem;
    background-color: var(--accent-5);
  }
}

.logs-header::before {
  content: '';
  display: block;
  height: 100vh;
  background: inherit; /* matches the parent's background */
  position: static;
  top: 0;
}

.log-line {
  font-family: monospace;
  width: 100%;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.5rem;
  box-sizing: border-box;
  font-size: 0.8rem;
  height: 1.6rem;
  min-height: fit-content;
  border-bottom: 0.5px solid var(--color-gray-400);
  position: absolute;

  .log-context-button {
    width: var(--context-button-width);
  }

  & button {
    height: 1.4rem;
  }
}

.log-line:nth-child(odd) {
  background-color: var(--color-gray-200);
}

.log-line:nth-child(even) {
  background-color: var(--color-gray-100);
}

.log-level-trace {
  background-color: rgb(229, 207, 230);
  color: rgb(120, 120, 120);
}

.log-level-debug {
  background-color: rgb(188, 236, 200);
  color: rgb(62, 62, 62);
}

.log-level-info {
  background-color: rgb(188, 190, 236);
  color: rgb(62, 62, 62);
}

.log-level-warn {
  background-color: rgb(237, 179, 141);
  color: black;
}

.log-level-error {
  background-color: rgb(250, 50, 27);
  color: white;
}

.log-level {
  font-size: 0.8rem;
  min-width: var(--log-level-width);
  border-radius: 3px;
  text-align: center;
  font-weight: bold;
  margin: 0 0.25rem;
  display: block;
}

.log-event {
  font-size: 0.8rem;
  min-width: var(--log-event-width);
  border-radius: 3px;
  text-align: center;
  font-weight: bold;
  margin: 0 0.25rem;
  display: block;
  background-color: var(--accent-6);
}

.log-timestamp {
  font-style: italic;
  color: var(--color-gray-800);
  font-family: monospace;
  font-size: 0.9rem;
  text-align: end;
  width: var(--timestamp-width);
}

.log-message {
  flex: 1;
}

.log-message-empty {
  color: #888;
}

.log-ohpkm-button {
  aspect-ratio: 1;
  padding: 0;
  border: none;
}

.log-filter-popover {
  width: fit-content;
  box-sizing: border-box;
  padding: var(--padding-radius-sm-lg) calc(1.6 * var(--padding-radius-sm-lg))
    var(--padding-radius-sm-lg) var(--padding-radius-sm-lg);
}

.rt-CheckboxGroupItem {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
}

.rt-CheckboxGroupItemInner {
  width: 3.5rem;
}

.filter-button-toggled {
  background-color: white !important;
  color: black;
}

.filter-button-untoggled {
  color: white;
  box-shadow: inset 0 0 0 1px white;
}
