body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  -webkit-user-select: none !important;
  --color-light-panel: #dfd;
  --color-light-background: rgb(83, 180, 165);
  --color-dark-panel: #081721;
  --color-dark-background: rgb(1, 83, 84);

  --side-tab-hover: rgb(142, 174, 176);
  --side-tab-selected: rgb(116, 155, 155);
}

@media (prefers-color-scheme: light) {
  body {
    --background-gradient: linear-gradient(
      355deg,
      rgba(83, 180, 165, 1) 0%,
      rgba(125, 206, 171, 1) 85%
    );
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --background-gradient: linear-gradient(310deg, rgba(54, 69, 78, 1) 0%, rgba(1, 83, 84, 1) 85%);
  }
}

div {
  user-select: none;
  -webkit-user-select: none !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html,
body,
#root {
  height: 100%;
  user-select: none;
  -webkit-user-select: none !important;
  -webkit-user-drag: none !important;
  overflow: hidden;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: dark;
  background-color: #5d707f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: white;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

select {
  -webkit-appearance: none;
  appearance: none;
  background: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill="white" d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>')
    100% 50% no-repeat transparent;
  padding-left: 4px;
  padding-right: 24px;
}

button,
select {
  border-radius: 3px;
  border: 2px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button {
  padding: 0.3em 0.3em;
}

select:focus,
select:focus-visible {
  outline: none;
}

input,
fieldset {
  border-radius: 5px;
  border: 1px solid transparent;
  margin: 0.2em;
  padding: 0.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
  background-color: white;
  color: #333;
}
input:hover,
fieldset:hover {
  border-color: white;
}
input:focus,
input:focus-visible,
fieldset:focus,
fieldset:focus-visible {
  border-color: white;
  outline: none;
}

label {
  display: flex;
  flex-direction: column;
}

button > svg {
  width: 24px;
  height: 24px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.No-Select {
  user-select: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll-no-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-no-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.tab-row {
  box-shadow:
    rgba(0, 0, 0, 0.3) 0px 3px 12px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px !important;
}

@media (prefers-color-scheme: light) {
  .MuiTabPanel-root {
    ::-webkit-scrollbar-thumb {
      background-color: #7dceab;
    }
  }
}

.datagrid {
  border: none;
}

.datagrid-error-row {
  background-color: #f004;
}

.rt-TabsContent {
  height: 100%;
  overflow-y: auto;
}

.radix-themes {
  --cursor-button: pointer;
  --card-border-width: 0px;
  .rt-BaseTabList {
    background-color: var(--color-panel);
  }
}

@media (prefers-color-scheme: light) {
  .radix-themes {
    --color-panel: var(--color-light-panel);
    --color-background: var(--color-light-background);
  }
}

@media (prefers-color-scheme: dark) {
  .radix-themes {
    --color-panel: var(--color-dark-panel);
    --color-background: var(--color-dark-background);
  }
}

.rt-BaseDialogOverlay {
  &:where([data-state='closed']) {
    animation: rt-dialog-overlay-no-op 200ms cubic-bezier(0.16, 1, 0.3, 1) !important;
  }
  &:where([data-state='open'])::before {
    animation: rt-fade-in 200ms cubic-bezier(0.16, 1, 0.3, 1) !important;
  }
  &:where([data-state='closed'])::before {
    opacity: 0;
    animation: rt-fade-out 200ms cubic-bezier(0.16, 1, 0.3, 1) !important;
  }
}

.rt-BaseDialogContent {
  padding: 0px;
  &:where([data-state='open']) {
    animation: rt-dialog-content-show 200ms cubic-bezier(0.16, 1, 0.3, 1) !important;
  }
  &:where([data-state='closed']) {
    opacity: 0;
    animation: rt-dialog-content-hide 100ms cubic-bezier(0.16, 1, 0.3, 1) !important;
  }
}
