.move-card {
  height: 44px;
  flex: 1;
  margin: 4px;
  display: flex;
  border-radius: 3px;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.move-card-vert {
  flex: 1;
}

.move-name {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: -6px;
  color: white;
}

.unknown-move-name {
  font-size: 1.2em;
  font-weight: bold;
  color: #999;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.type-icon-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 8px;
  width: 30px;
}

.modal-arrow {
  position: absolute;
  top: calc(50% - 28px);
  height: 56px;
  width: 56px;
  border-radius: 28px;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background);
  transition: background-color 0.1s;
  & svg {
    height: 24px;
    width: 24px;
  }
}

.modal-arrow:hover {
  background-color: rgb(96, 144, 144);
  transition: left 0.15s;
}

.modal-arrow-left {
  right: 90%;
}

.modal-arrow-right {
  left: 90%;
}

.modal-box-indicator-wrapper {
  position: absolute;
  bottom: 8px;
  left: 0px;
  width: 100%;
  overflow: hidden;
  transition: opacity 0.15s;
}

.pokemon-modal-tabs {
  width: 100%;
  min-height: 400px;
  max-height: 85vh;
  & .side-tab-panel {
    height: initial;
  }
}

.attribute-row {
  --diagonal-length: 8px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  font-size: 0.9em;
}

.attribute-row-label {
  background-color: var(--attribute-row-label);
  clip-path: polygon(
    0% 0%,
    0% 100%,
    calc(100% - var(--diagonal-length)) 100%,
    calc(100% - 0px) 0%,
    100% 0%
  );
  margin-right: calc(-1 * var(--diagonal-length));
}

.attribute-row-content {
  background-color: var(--attribute-row-content);
  max-width: calc(67%);
  width: calc(67%);
  height: 28px;
  min-height: 28px;
  padding: 0px 12px 0px 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-wrap: break-word;
  overflow: hidden;
  padding-right: calc(8px + var(--diagonal-length));
  padding-left: calc(4px + var(--diagonal-length));
}

div.attribute-row-content {
  user-select: all !important;
  -webkit-user-select: text !important;
}

.expandable-attribute-row {
  transition: max-height 0.2s ease;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

.expandable-attribute-row > summary {
  display: flex;
  flex-direction: row;
}

.expandable-attribute-row-arrow {
  position: absolute;
  right: 8px;
  top: 0;
  height: 100%;
  rotate: 0deg;
  transition: rotate 0.2s;
}
