.move-card {
  height: 50px;
  flex: 1;
  margin: 5px;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  display: flex;
  flex-direction: row;
}

.move-card-vert {
  flex: 1;
}

.move-name {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: -6px;
  color: white;
}

.unknown-move-name {
  font-size: 1.2em;
  font-weight: bold;
  color: #999;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.type-icon-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 8px;
  width: 30px;
}

.modal-arrow {
  position: absolute;
  top: calc(50% - 28px);
  height: 56px;
  width: 56px;
  border-radius: 28px;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background);
  transition: background-color 0.1s;
  & svg {
    height: 24px;
    width: 24px;
  }
}

.modal-arrow:hover {
  background-color: rgb(96, 144, 144);
  transition: left 0.15s;
}

.modal-arrow-left {
  right: 90%;
}

.modal-arrow-right {
  left: 90%;
}

.modal-box-indicator-wrapper {
  position: absolute;
  bottom: 8px;
  left: 0px;
  width: 100%;
  overflow: hidden;
  transition: opacity 0.15s;
}

.pokemon-modal-tabs {
  width: 100%;
  min-height: 400px;
  max-height: 85vh;
  & .side-tab-panel {
    height: initial;
  }
}

.attribute-row {
  height: fit-content;
  min-height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.attribute-row-label {
  background-color: var(--attribute-row-label);
}

.attribute-row-content {
  background-color: var(--attribute-row-content);
  max-width: calc(67% - 20px);
  width: calc(67% - 20px);
  height: 100%;
  min-height: 32px;
  padding: 0px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-wrap: break-word;
  overflow: hidden;
}

.expandable-attribute-row {
  transition: max-height 0.2s ease;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

.expandable-attribute-row > summary {
  display: flex;
  flex-direction: row;
}

.expandable-attribute-row-arrow {
  position: absolute;
  right: 8px;
  top: 0;
  height: 100%;
  rotate: 0deg;
  transition: rotate 0.2s;
}
