.modal-arrow {
  position: absolute;
  top: calc(50% - 28px);
  height: 56px;
  width: 56px;
  border-radius: 28px;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background);
  transition: background-color 0.1s;
  & svg {
    height: 24px;
    width: 24px;
  }
}

.modal-arrow:hover {
  background-color: rgb(96, 144, 144);
  transition: left 0.15s;
}

.modal-arrow-left {
  right: 90%;
}

.modal-arrow-right {
  left: 90%;
}

.modal-box-indicator-wrapper {
  position: absolute;
  bottom: 8px;
  left: 0px;
  width: 100%;
  overflow: hidden;
  transition: opacity 0.15s;
}

.pokemon-modal-tabs {
  width: 100%;
  min-height: 400px;
  max-height: 85vh;
  & .side-tab-panel {
    height: initial;
  }
}

.origin-mark {
  width: 50px;
  height: 50px;
  object-fit: contain;
  z-index: 2;
  opacity: 0.8;

  @media (prefers-color-scheme: dark) {
    filter: brightness(0) invert(1);
    opacity: 0.5;
  }
}
