.arrow-button {
  padding: 0.4em;
  color: inherit;
  background-color: transparent;
  border: none;
  transition: color 0.25s;
}

.arrow-button:hover {
  opacity: 0.8;
}

.save-header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  position: relative;
  margin-bottom: 8px;
}

.save-close-button {
  position: absolute;
  left: 8px;
  padding: 4px 6px;
}

.save-menu-button {
  position: absolute;
  right: 8px;
  padding: 4px 6px;
}

.box-card {
  padding: 5px;
}

.box-navigation {
  margin-bottom: 5px;
}

.box-name {
  display: grid;
  align-items: center;
  text-align: center;
}
