.rt-ContextMenuContent {
  min-width: 10rem;
  border-radius: 3px;
  padding: 0.25rem;
  font-size: 0.8rem;
}


.rt-ContextMenuLabel,
.rt-ContextMenuItem,
.rt-ContextMenuSubItem,
.rt-ContextMenuCheckboxItem,
.rt-ContextMenuRadioItem,
.rt-ContextMenuSubTrigger {
  line-height: 1;
  border-radius: 3px;
  display: flex;
  align-items: center;
  position: relative;
  user-select: none;
  outline: none;
  gap: 4px;
  padding: 0.3rem;
}

.rt-ContextMenuItem,
.rt-ContextMenuSubItem,
.rt-ContextMenuCheckboxItem,
.rt-ContextMenuRadioItem,
.rt-ContextMenuSubTrigger {
  cursor: pointer;
}

.ContextMenuItem[data-disabled],
.ContextMenuCheckboxItem[data-disabled],
.ContextMenuRadioItem[data-disabled],
.ContextMenuSubTrigger[data-disabled] {
  pointer-events: 'none';
}

.ContextMenuLabel {
  font-weight: bold;
}


.rt-ContextMenuContent {
  animation: none;
}

.rt-ContextMenuViewport {
  gap: 3px;
}
