.rt-ContextMenuContent {
  min-width: 10rem;
  border-radius: 3px;
  padding: 0.25rem;
  font-size: 0.8rem;
}

.ContextMenuSubContent {
  z-index: 10;
}

.ContextMenuLabel {
  font-weight: bold;
}

.rt-ContextMenuLabel,
.rt-ContextMenuItem,
.rt-ContextMenuSubItem,
.rt-ContextMenuCheckboxItem,
.rt-ContextMenuRadioItem,
.rt-ContextMenuSubTrigger {
  line-height: 1;
  border-radius: 3px;
  display: flex;
  align-items: center;
  position: relative;
  user-select: none;
  outline: none;
  gap: 4px;
  padding: 0.3rem;
}

.rt-ContextMenuItem,
.rt-ContextMenuSubItem,
.rt-ContextMenuCheckboxItem,
.rt-ContextMenuRadioItem,
.rt-ContextMenuSubTrigger {
  cursor: pointer;
}

.ContextMenuCheckboxItem,
.ContextMenuRadioItem,
.ContextMenuSubTrigger {
  padding: 0 0.3rem 0 1.25rem;
}
.ContextMenuSubTrigger[data-state='open'] {
  background-color: var(--accent-4);
  color: var(--accent-11);
}

.ContextMenuItem[data-disabled],
.ContextMenuCheckboxItem[data-disabled],
.ContextMenuRadioItem[data-disabled],
.ContextMenuSubTrigger[data-disabled] {
  pointer-events: 'none';
}
.rt-ContextMenuItem[data-highlighted],
.rt-ContextMenuCheckboxItem[data-highlighted],
.rt-ContextMenuRadioItem[data-highlighted],
.rt-ContextMenuSubTrigger[data-highlighted] {
  background-color: var(--accent-9);
  color: var(--accent-1);
}

.ContextMenuLabel {
  display: flex;
  align-items: center;
}

.ContextMenuItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.rt-ContextMenuContent {
  animation: none;
}
