.pokemon-icon-container {
  position: relative;
  transform: translate(0, 0);
}

.pokemon-icon-image {
  background-size: 3600%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
}

.centered-cell {
  display: grid;
  align-items: center;
  justify-content: center;
}

.mono-cell {
  font-family: monospace;
}

.type-icon-border {
  border-radius: 16px;
}

.hex-display-grid {
  margin: 4px 16px;
  width: 680px;
}

.byte-row-display {
  font-size: 16px;
  font-weight: bold;
}

.single-byte-display {
  font-size: 16px;
}
.single-byte-display:hover {
  background-color: #fff3;
}

.autocomplete {
  padding-left: 0px;
  font-size: 16px;
  padding: 0px 0px;
  max-height: 2.2em;
  & svg {
    width: 20px;
    height: 20px;
  }
  & button {
    padding: 2px;
  }
}

.autocomplete-dropdown {
  display: inline-flex;
  flex-direction: column;
  margin-block-start: 4px;
  position: fixed;
  z-index: 2;
  overflow-y: auto;
  padding-inline-start: 0px;
  max-height: 300px;
  margin-right: 0px;
  background-color: white;
  box-shadow:
    rgb(0, 0, 0) 0px 0px 0px 0px,
    rgba(21, 21, 21, 0.08) 0px 2px 8px -2px,
    rgba(21, 21, 21, 0.08) 0px 6px 12px -2px;
  border-radius: 5px;
}

.autocomplete-dropdown::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--dark-scrollbar);
}

.autocomplete-option {
  padding: 4px 8px;
  cursor: pointer;
  width: calc(100% - 16px);
  list-style: none;
  overflow: visible;
}
.selected {
  background-color: aliceblue;
}
