.pokemon-icon-container {
  position: relative;
  transform: translate(0, 0);
}

.pokedex-icon-container {
  position: relative;
  transform: translate(0, 0);
  background-color: var(--gray-6);
  width: 44px !important;
  height: 36px !important;
  border-radius: 28px;
  overflow: visible;
  margin-left: -14px;
  padding: 0px 6px;
  box-shadow:
    0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%),
    0px 1px 3px 0px rgb(0 0 0 / 12%);
  .pokemon-icon-image {
    height: 90%;
  width: 80%;
  }
}

.pokemon-icon-image {
  background-size: 3600%;
  background-repeat: no-repeat;
  margin: auto;
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0;
  /* position: absolute; */
  object-fit: contain;
}

.centered-cell {
  display: grid;
  align-items: center;
  justify-content: center;
}

.mono-cell {
  font-family: monospace;
}

.type-icon-border {
  border-radius: 16px;
}

.hex-display-grid {
  margin: 4px 16px;
  width: 680px;
}

.byte-row-display {
  font-size: small;
  font-weight: bold;
}

.single-byte-display {
  font-size: small;
}
.single-byte-display:hover {
  background-color: #fff3;
}

.autocomplete {
  padding-left: 0px;
  font-size: small;
  padding: 0px 0px;
  max-height: 2.2em;
  & svg {
    width: 20px;
    height: 20px;
  }
  & button {
    padding: 2px;
  }
}

.autocomplete-dropdown {
  display: inline-flex;
  flex-direction: column;
  margin-block-start: 4px;
  position: fixed;
  z-index: 2;
  overflow-y: auto;
  padding-inline-start: 0px;
  max-height: 300px;
  margin-right: 0px;
  background-color: var(--autocomplete-background-color);
  box-shadow:
    rgb(0, 0, 0) 0px 0px 0px 0px,
    rgba(21, 21, 21, 0.08) 0px 2px 8px -2px,
    rgba(21, 21, 21, 0.08) 0px 6px 12px -2px;
  border-radius: 3px;
}

.autocomplete-dropdown::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--autocomplete-scrollbar);
}

.autocomplete-option {
  padding: 4px 8px;
  cursor: pointer;
  width: calc(100% - 16px);
  list-style: none;
  overflow: visible;
}
.selected {
  background-color: var(--accent-6);
}
