.side-tabs {
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background: transparent;
}

.side-tab-list {
  display: flex;
  flex-direction: column;
  min-width: 8rem;
  width: fit-content;
  background-color: rgb(68, 102, 102);
  gap: 4px;
  padding: 8px;
  box-shadow:
    rgba(0, 0, 0, 0.3) 0px 3px 12px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px !important;
  z-index: 1;
}

.side-tab-panel {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  height: initial;

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--autocomplete-scrollbar);
  }
}

.side-tab {
  border-radius: 6px;
  background-color: transparent;
  color: white;
  text-align: start;
  padding: 2px 6px;
}

.side-tab:hover {
  background-color: var(--side-tab-hover);
}

.side-tab-active,
.side-tab:active {
  background-color: var(--side-tab-selected);
  box-shadow:
    rgb(0, 0, 0) 0px 0px 0px 0px,
    rgba(21, 21, 21, 0.08) 0px 1px 2px 0px,
    rgba(21, 21, 21, 0.08) 0px 2px 4px 0px;
}
