.radix-themes {
  .rt-BaseMenuLabel {
    gap: 0.25rem;
  }

  --base-menu-item-padding-left: 0.5rem;
  --base-menu-item-padding-right: 0.5rem;
}

.ContextMenuTrigger {
  display: block;
  border: 2px white dashed;
  color: white;
  border-radius: 4px;
  font-size: 1rem;
  user-select: none;
  padding: 2.75rem 0;
  width: 18.75rem;
  text-align: center;
}

.ContextMenuLabel {
  padding: 4px 8px;
}

.rt-ContextMenuContent,
.rt-ContextMenuViewport {
  min-width: 13.75rem;
  background-color: var(--color-panel-solid);
  border-radius: 3px;
  padding: 0.15rem;
  gap: 0.2rem;
}

.rt-ContextMenuSubContent {
  z-index: 10;
}

.rt-ContextMenuItem,
.rt-ContextMenuSubItem,
.rt-ContextMenuCheckboxItem,
.rt-ContextMenuRadioItem,
.rt-ContextMenuSubTrigger {
  font-size: 0.8rem;
  line-height: 1;
  border-radius: 2px;
  display: flex;
  align-items: center;
  height: 1.5rem;
  position: relative;
  user-select: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
}

.rt-ContextMenuSeparator {
  margin: 0.5rem;
}

.ContextMenuCheckboxItem,
.ContextMenuRadioItem,
.ContextMenuSubTrigger {
  padding: 0 1rem;
}
.rt-ContextMenuItemIndicator {
  padding: 0 0.5rem;
}
.ContextMenuSubTrigger[data-state='open'] {
  background-color: var(--accent-4);
  color: var(--accent-11);
}
