.white-filter {
  filter: brightness(0) invert(1);
  color: white;
}

.black-filter {
  filter: brightness(0);
  color: black;
}

.extra-badge {
  position: absolute;
  right: var(--padding-radius-xs-sm);
  top: var(--padding-radius-xs-sm);
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 1.25rem;
  padding: calc(0.15rem * var(--badge-size));
  border-radius: var(--border-radius-xs);

  img {
    width: calc(0.6rem + 0.4rem * var(--badge-size));
  }
}

.badge-icon-only {
  aspect-ratio: 1;
}

.numerical-badge {
  font-size: 0.8rem;
  padding: var(--padding-radius-xs-sm);
  height: 1rem;
  font-weight: bold;
  color: black;
}

.badge-size-1 {
  --badge-size: 1;
}

.badge-size-2 {
  --badge-size: 2;
}

.badge-size-3 {
  --badge-size: 3;
}

.badge-disabled {
  background-color: var(--gray-7) !important;
  img {
    filter: brightness(20%);
  }
}

.image-badge-with-text {
  padding: 0px var(--padding-radius-sm-lg);
  align-items: center;
  gap: 0.25rem;
}

@media (prefers-color-scheme: dark) {
  .image-badge {
    filter: brightness(0.8);
  }
}
