.pokedex-page {
  --raised-button-box-shadow:
    rgba(0, 0, 0, 0.17) 0px -1.5rem 1.5rem 0px inset,
    rgba(0, 0, 0, 0.15) 0px -2.25rem 2rem 0px inset, rgba(0, 0, 0, 0.1) 0px -5rem 5rem 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px;
  --top-bar-height: 2.5rem;
  --sidebar-width: 22rem;

  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 60rem;
}

.pokedex-raised-button {
  box-shadow: var(--raised-button-box-shadow);
  height: fit-content;
}

.pokedex-caption {
  padding: 0px 1rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  background-color: var(--accent-9);
  border: none;
  border-radius: 1.5rem;
  box-shadow: var(--raised-button-box-shadow);
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  gap: 1rem;
  margin-top: -1.5rem;
  min-height: 2rem;
  z-index: 100;
  color: white;
}

.pokedex-header {
  height: var(--top-bar-height);
  padding: var(--padding-radius-sm-lg);
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-header);
  box-shadow:
    rgba(0, 0, 0, 0.07) 0px 1px 1px,
    rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px,
    rgba(0, 0, 0, 0.03) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  color: var(--accent-contrast);
  gap: 1.5rem;
  z-index: 100;
  input {
    width: 22rem;
    background-color: var(--accent-5);
  }
  box-sizing: border-box;
}

.pokedex-header-title {
  font-size: 1.2rem;
}

.pokedex-filter-field {
  margin: 0;
  width: calc(var(--sidebar-width) - var(--padding-radius-sm-lg));
  height: 1.5rem;
}

.pokedex-body {
  box-shadow:
    rgba(0, 0, 0, 0.09) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  z-index: 10;

  button {
    border-color: transparent;
  }

  height: 100%;
  position: relative;
}

.pokedex-summary-pane {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  width: 60%;
  min-width: 34rem;
  flex-grow: 1;
  overflow: auto;
  position: relative;
  box-sizing: border-box;
  padding: 0;
  background-color: var(--color-sidebar);
}

.pokedex-summary-card {
  width: 100%;
  flex-shrink: 0;
  padding: 0.5rem;
}

.base-stats-container {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--padding-radius-sm-lg);
}

.pokedex-view-select {
  width: 10rem;
  margin: auto var(--padding-radius-xs-sm) auto auto;
}

.pokedex-tab-row {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.pokedex-tab {
  --transition-duration: 0.15s;
  --transition-timing-function: cubic-bezier(0.57, 0.4, 0.59, 1.49);

  border: none;
  border-radius: 0px 0px var(--border-radius-sm) var(--border-radius-sm) !important;
  background-color: var(--color-gray-500);
  color: var(--accent-contrast);
  padding: 0.25rem 1rem;
  font-size: var(--font-size-standard);
  font-weight: bold;
  cursor: pointer;
  height: 2rem;
  transition:
    height var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration) var(--transition-timing-function);
  box-shadow:
    rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px;
}

.pokedex-tab-selected {
  background-color: var(--color-header);
  color: var(--accent-contrast);
  height: 2.5rem;
  z-index: 1;
}

.compatible-game-card {
  display: flex;
  width: 6rem;
  height: 6rem;

  img {
    width: 100%;
    margin: auto;
    max-height: 100%;
  }
}

.bottom-right-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  margin: -0.5rem;
  contain: paint;
}

.bottom-right-grid > * {
  padding: 0.5rem;
  box-sizing: border-box;
}

.bottom-right-grid > *:not(:nth-child(2n)) {
  border-right: 1px solid var(--gray-a6);
}

.bottom-right-grid > *:not(:nth-last-child(-n + 2)) {
  border-bottom: 1px solid var(--gray-a6);
}

.base-stats-and-attributes {
  width: 50%;
}
