body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html,
body,
#root {
  height: 100%;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: dark;
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: #5d707f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button,
select {
  border-radius: 3px;
  border: 2px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button {
  padding: 0.3em 0.3em;
}

button:hover,
select:hover {
  border-color: #e45454;
}

select:focus,
select:focus-visible {
  outline: none;
}

input,
fieldset {
  border-radius: 5px;
  border: 1px solid transparent;
  margin: 0.2em;
  padding: 0.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
  background-color: white;
  color: #333;
}
input:hover,
fieldset:hover {
  border-color: white;
}
input:focus,
input:focus-visible,
fieldset:focus,
fieldset:focus-visible {
  border-color: white;
  outline: none;
}

label {
  display: flex;
  flex-direction: column;
}

button > svg {
  width: 24px;
  height: 24px;
}
