name: Enforce Types + Linting

permissions:
  contents: read

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  prettier:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install PNPM
        uses: pnpm/action-setup@v4

      - name: Install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

      - name: Install Dependencies
        run: pnpm i --frozen-lockfile

      - name: Build WASM
        run: pnpm run wasm

      - name: Type Check
        run: pnpm run typecheck

      - name: ESLint
        run: pnpm run lint:ci
