name: Enforce Types + Linting

permissions:
  contents: read

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  prettier:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install NodeJS
        uses: actions/setup-node@v6

      - name: Install Dependencies
        run: npm ci

      - name: Install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

      - name: Build WASM
        run: npm run wasm

      - name: Type Check
        run: npm run typecheck

      - name: ESLint
        run: npm run lint:ci
